@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navegador{
    z-index: 50;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 25px;
    background-color:rgba(255, 255, 255, 0.9);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(../multimedia/bosque.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 420px;
}


a{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
    transition: 0.3s all ease;
}

a:hover{
    color: rgb(0, 194, 16);
}

.btn-navegador{
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: 0.3s all ease;
}

.btn-navegador:hover{
    color: rgb(0, 194, 16);
}

.titulo-navegador{
    margin-left: 50px;
    font-family: 'Bebas Neue';
}

.banner2{
    background-color: rgb(255, 255, 255);
    width: 87%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 87%;
    height: auto;
    margin: auto;
    padding: 25px;
    box-shadow: 0 0 5px black;
}

.titulo-inicio{
    font-size: 35px;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
}

.texto-parrafo{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 20px;
}
.texto-titulos{
    margin: 10px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

form{
    width: 80%;
    margin: 35px auto;
    padding: 10px;
}

.wrapper{
    display: flex;
    justify-content: end;
}


.boton-envio{
    background-color: rgb(0, 194, 16);
    color: white;
    width: 110px;
    font-size: 15px;
    height: 45px;
    margin: 100px 0 0 0 ;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease;
}

.boton-envio:hover{
    background-color: rgb(0, 212, 18);
    box-shadow: 5px 5px 0 black;
}

.imagenes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.img-ini{
    width: 100%;
    margin: 0 10px;
    cursor: pointer;
}

.contenido2{
    display: flex;
    flex-direction: column;
    
    width: 95%;
    margin: 20px auto;
    height: auto;
    padding: 25px;
    box-shadow: 0 0 5px black;
}

.navegador2{
    z-index: 50;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 25px;
    background-color:rgba(255, 255, 255, 0.9);
}

.iframe-wrapper{
    display: flex;
    justify-content: center;
}

.form-pregunta{
    width: 100%;
    border: none;
}

.img-listo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-veri{
    width: 20%;
}

.btn-img{
    width: 25%;
    margin: 0 15px;
    padding: 0;
    display: inline-block;
}

.encerrador{
    z-index: 51;
    position: fixed;
    height: 100vh;
    padding: 25px;
    background-color: rgb(83, 83, 83, 0.7);
}

.encerrador2{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.visualizador{
    display: none;
    width: 100%;
}

.visualizador:target{
    display: block;
}

.fal{
    font-size: 30px;
    color: white;
}

.v-s{
    background-color: white;
    padding: 35px;
}

.img-v{
    width: 60%;
    margin: 10px 10px;
}

.img-veru{
    width: 30%;
}


@media (max-width: 450px) {
    /* .img-ini{
        width: 50%;
        margin: 15px 15px;
    } */

    .btn-navegador{
        margin: 0;
    }

    .titulo-inicio{
        font-size: 22px;
    }

    .btn-img{ 
        width: 80%;
        margin: 0 15px;
        padding: 0;
        display: inline-block;
    }

    .img-ini{
        width: 100%;
        margin: 0 10px;
        cursor: pointer;
    }
}

@media  (max-width: 600px) {
    .btn-img{ 
        width: 80%;
        margin: 0 15px;
        padding: 0;
        display: inline-block;
    }
}